
@{
    ViewBag.Title = "Square";
}

<div>
    <h3>Calculate a square of a circle:</h3>
    <form method="post" action="~/Calculate/ShowSquare">
        <p>Enter a radius: </p>
        <input type="text" name="radius"/>
        <input type="submit" value="Calculate"/>
    </form>
</div>