
@{
    ViewBag.Title = "Images";
}

<h2>Images</h2>

<h3>jpg-image:</h3>
<p></p><img src="../Files/image_1.jpg" style="width: 50%"/></p>
<p>@Html.ActionLink("Open jpg in full size", "GetJpg", "GetImages")</p>

<h3>png-image:</h3>
<p></p><img src="../Files/image_2.png" style="width: 50%" /></p>
<p>@Html.ActionLink("Open png in full size", "GetPng", "GetImages")</p>

